:root {
    --primary_color: #041a68;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

* {
    font-family: 'GmarketSansMedium';
}

.text-primary {
    color: var(--primary_color) !important;
}

.carousel-item img {
    filter: brightness(30%) grayscale(100%);
    -webkit-filter: brightness(30%) grayscale(100%);
}