:root {
    --primary_color: #041a68;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

* {
    font-family: 'GmarketSansMedium';
}

.btn-primary {
    background-color: var(--primary_color) !important;
    border-color: #000d3d;
}

.text-primary {
    color: var(--primary_color) !important;
}

.carousel-item img {
    filter: brightness(30%) grayscale(100%);
    -webkit-filter: brightness(30%) grayscale(100%);
}

/* YOUTUBE */
.youtube-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 5px;
}
.youtube-wrap iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}